.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: red 1px solid;
}
.error-message {
  color: red;
}
.all-filter {
  background: aquamarine;
}
.active-filter {
  background: yellow;
}
.completed-filter {
  background: purple;
}
.is-done {
  opacity: 0.5;
}
